[submodule "central_server"]
	path = central_server
	url = https://github.com/phanirithvij/central_server
[submodule "filebrowser"]
	path = filebrowser
	url = https://github.com/phanirithvij/filebrowser.git
	branch = master
