<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="content"></div>
    <div style="position: fixed;">
        <a href="/files">Files</a>
        <p></p>
        {% block content %} {% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='MediaStreamRecorder.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>