{% extends "common.html" %}
{% block content %}
<a href="/dashboard">Go to dashboard</a>
<a id='start' href="/auth/login">Login</a>
<a id='stop' href="/auth/new">Register</a>
<button> Download stuff </button>
<div id="progress"></div>

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='download.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='nanobar.min.js') }}"></script>
{% endblock %}