zeroconf==0.25.0
ifaddr==0.1.6


private inner class SendingThread(private val message: String) : Runnable {
    override fun run() {
        val s = socket
        val outputStream = BufferedOutputStream(s.getOutputStream() ?: return)
        Log.d(TAG, "run: outputStream = $outputStream")
        try {
            outputStream.write(message)
            outputStream.flush()
            ...
            Log.d(TAG, "[Client ST] send: $message")

        } catch (e: Exception) {
            Log.d(TAG, "[Client ST] run: something went wrong ${this@Client}", e)
        }
    }
}